body{
    background:url(pexels-henry-&-co-2341290.jpg);
    background-size: cover;
    background-attachment: fixed
    
}
.container h1 {
    text-align: center;
    font-family: monospace;
    scroll-behavior: smooth;
}
.p1{
    font-family: monospace;
    font-size: 23px;
    scroll-behavior: smooth;
}

img{
    position: absolute;
    left: 4%;
    padding: 3px 3px;
    scroll-behavior: smooth;
    border: 3px solid black;
    border-radius: 10px;
}

.p2{
    font-family: monospace;
    font-size: 23px;
    position: absolute;
    top: 135%;
    scroll-behavior: smooth;
    padding-bottom: 50px;
}